<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/get-form-data" method="post">
        <input type="text" placeholder="Enter Your Name" name="userName">
        <input type="email" placeholder="Enter Your Email" name="email">
        <input type="password" placeholder="Enter Password" name="password">
        <button> Submit Form</button>

    </form>


    <script src="script.js"></script>
</body>
</html>



  