<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read"> Read user</a>
        </div>
        <h1 class="text-3xl  bg-zinc-900 py-10 text-white">Update User</h1>
        <form action="/update/<%= user._id %>" method="post">
            <input 
                class="px-3 py-2 bg-transparent border-2 border-white rounded-xl" type="text" 
                name="name"
                placeholder="Name"
                value="<%= user.name %>">
                
            <input 
                class="px-3 py-2 bg-transparent border-2 border-white rounded-xl" type="text" 
                name="email"
                placeholder="Email"
                value="<%= user.email %>">
                
            <input 
                class="px-3 py-2 bg-transparent border-2 border-white rounded-xl" type="text" 
                name="image"
                placeholder="User Image URL"
                value="<%= user.image %>">
        
            <input class="ml-4 px-3 py-2 bg-yellow-500 border-2 border-white rounded-xl cursor-pointer"
                type="submit" 
                value="Update user">
        </form>
        
    </div>
</body>

</html>
